@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');

body {
    margin: auto;
    margin-bottom: 50px;
    /* font-size: .8em; */
    width: 80vw;
    max-width: 900px;
    font-family: 'Oxygen', sans-serif;
}

h2 {
    border-bottom: solid 11px cornflowerblue;
    width: 250px;
    margin-top: 30px;
}

img {
    display: flex;
    justify-content: start;
    margin: auto;
    width: 80vw;
    max-width: 640px;
    box-shadow: 0px 10px 40px -15px black;
}

h3 {
    text-align: center;
    margin: 50px auto 0px;
}

#comparison {
    display: flex;
    justify-content: center;
}

.column {
    width: 45vw;
    text-align: center;
}

h4 {
    margin: 10px;
    border-bottom: 6px solid cadetblue;
}