* {
    box-sizing: border-box;
}

body {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container {
    display: flex;
    width: 90vw;
    height: 90vh;
    border: solid 5px rgb(236, 65, 65);
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
}

.d1, .d2, .d3 {
    display: flex;
    justify-content: center;
    background-color: rgb(135, 205, 238);
    /* margin: 10px; */
    vertical-align: center;
    color: white;
    text-align: center;
    height: 33%;
}

.d1 {
    width: 100%;
}

.n1, .n2, .n3 {
    margin-top: auto;
    margin-bottom: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6rem;
    font-weight: bold;
}

.d2 {
    width: 25%;
}

.d3 {
    width: 100%;
}