<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="static/favicon.jpg" type="image/jpg">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{{ my_pet['name'] }}</title>
</head>

<body>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="{{ my_pet['image'] }}" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ my_pet['name'] }}</h5>
                    <p class="card-text">{{ my_pet['description'] }}</p>
                    <a href="{{ url_for('adding_to_cart', pet_id=my_pet['id']) }}" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
        </div>
    </div>

    <a href="{{ url_for('pets_view') }}" class="btn btn-primary">Back</a>
    <a href="{{url_for('index')}}" class="btn btn-primary">Home</a>

</body>

</html>